vp-schemas/src/main/resources/schemas/VAGVAL_1_0/interactions/vagvalsInfo/vagvalsinfo-sokvagvalsinfo-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2009 Sjukvardsradgivningen
 *
 *   This library is free software; you can redistribute it and/or modify
 *   it under the terms of version 2.1 of the GNU Lesser General Public

 *   License as published by the Free Software Foundation.
 *
 *   This library is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the

 *   GNU Lesser General Public License for more details.
 *
 *   You should have received a copy of the GNU Lesser General Public
 *   License along with this library; if not, write to the
 *   Free Software Foundation, Inc., 59 Temple Place, Suite 330,

 *   Boston, MA 02111-1307  USA
 -->
 
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:tns="urn:skl:tp:vagvalsinfo:v1" 
    xmlns:ps="urn:skl:tp:vagvalsinfo:v1" 
    targetNamespace="urn:skl:tp:vagvalsinfo:v1">
	
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import schemaLocation="vagvalsinfo-sokvagvalsinfo-1.0.xsd" namespace="urn:skl:tp:vagvalsinfo:v1"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="HamtaAllaVirtualiseringarRequest">
		<wsdl:part name="parameters" element="ps:hamtaAllaVirtualiseringar"/>
	</wsdl:message>
	<wsdl:message name="HamtaAllaVirtualiseringarResponse">
		<wsdl:part name="response" element="ps:hamtaAllaVirtualiseringarResponse"/>
	</wsdl:message>
	<wsdl:message name="HamtaAllaAnropsBehorigheterRequest">
		<wsdl:part name="parameters" element="ps:hamtaAllaAnropsBehorigheter"/>
	</wsdl:message>
	<wsdl:message name="HamtaAllaAnropsBehorigheterResponse">
		<wsdl:part name="response" element="ps:hamtaAllaAnropsBehorigheterResponse"/>
	</wsdl:message>
	<wsdl:portType name="SokVagvalsInfoInterface">
		<wsdl:operation name="hamtaAllaVirtualiseringar">
		<wsdl:input message="tns:HamtaAllaVirtualiseringarRequest"/>
			<wsdl:output message="tns:HamtaAllaVirtualiseringarResponse"/>
		</wsdl:operation>
		<wsdl:operation name="hamtaAllaAnropsBehorigheter">
			<wsdl:input message="tns:HamtaAllaAnropsBehorigheterRequest"/>
			<wsdl:output message="tns:HamtaAllaAnropsBehorigheterResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SokVagvalsInfoInterfaceSoap11DocLitBinding" type="tns:SokVagvalsInfoInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hamtaAllaVirtualiseringar">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
 				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:HamtaAllaVirtualiseringarRequest" part="header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hamtaAllaAnropsBehorigheter">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:HamtaAllaAnropsBehorigheterRequest" part="header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
