trunk/vp-ping/Ping/Test-producer/src/main/resources/schemas/PingInteraction_1.0_rivtabp20.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<wsdl:definitions name="PingInteraction"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:tjs="urn:riv:itinfra:tp:PingResponder:1"
	targetNamespace="urn:riv:itinfra:tp:Ping:1:rivtabp20" 
	xmlns="urn:riv:itinfra:tp:Ping:1:rivtabp20">

	<xsd:annotation>
		<xsd:documentation>
			Beskrivning: Kontrakt för en testtjänst som svarar på ett ping anrop 
			Revisioner: 2010-04-30 Version 1.0: Skapade tjänstekontraktet. 
			Tjänstedomän: test.
			Tjänsteinteraktionens namn: Ping
			Tjänsteinteraktionstyp: Fråga-Svar.	
			RIV Tekniska Anvisning: Basic Profile 2.0
		</xsd:documentation>
	</xsd:annotation>

	<!-- Egendefinierade typer -->
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import schemaLocation="PingResponder_1_0.xsd" namespace="urn:riv:itinfra:tp:PingResponder:1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import schemaLocation="ws-addressing-1.0.xsd" namespace="http://www.w3.org/2005/08/addressing" />
		</xsd:schema>
	</wsdl:types>

	<!-- Meddelanden -->
	<!-- Ping  -->
	<wsdl:message name="pingRequest">
		<wsdl:part name="LogicalAddress" element="wsa:To" />
		<wsdl:part name="parameters" element="tjs:ping" />
	</wsdl:message>
	<wsdl:message name="pingResponse">
		<wsdl:part name="parameters" element="tjs:pingResponse" />
	</wsdl:message>
<!--
	<wsdl:message name="TechnicalException">
		<wsdl:part name="parameters" element="tjs:TechnicalException" />
	</wsdl:message>
	<wsdl:message name="PersonNotFoundException">
		<wsdl:part name="parameters" element="tjs:PersonNotFoundException" />
	</wsdl:message>
-->

	<!-- Port typer -->
	<wsdl:portType name="PingResponderInterface">
		<wsdl:operation name="ping">
			<wsdl:documentation>Ping. Logisk adress är till producent som ska kunna svara på frågan.
			</wsdl:documentation>
			<wsdl:input message="pingRequest" />
			<wsdl:output message="pingResponse" />
<!-- 
			<wsdl:fault name="PersonNotFoundException" message="PersonNotFoundException"></wsdl:fault>
			<wsdl:fault name="TechnicalException" message="TechnicalException"></wsdl:fault>
-->
</wsdl:operation>
	</wsdl:portType>
	
	<!-- Bindningar -->
	<wsdl:binding name="PingResponderBinding" type="PingResponderInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="ping">
			<soap:operation soapAction="urn:riv:test:PingResponder:1:ping" />
			<wsdl:input>
				<soap:header use="literal" message="pingRequest"
					part="LogicalAddress" />
				<soap:body use="literal" parts="parameters" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
<!-- 
			<wsdl:fault name="PersonNotFoundException">
				<soap:fault use="literal" name="PersonNotFoundException" />
			</wsdl:fault>	
			<wsdl:fault name="TechnicalException">
				<soap:fault use="literal" name="TechnicalException" />
			</wsdl:fault>	
-->
	</wsdl:operation>
	</wsdl:binding>

	<!-- Servicar -->
	<wsdl:service name="PingResponderService">
		<wsdl:port name="PingResponderPort" binding="PingResponderBinding">
			<soap:address location="http://temp.uri/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
