vp-wsdl-utils/src/main/resources/xmlTests/withTestFiles/se.apotekensservice_lf_4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:riv:se.apotekensservice:lf:4"
           xmlns:doc="urn:riv:se.apotekensservice:lf:1"
           targetNamespace="urn:riv:se.apotekensservice:lf:4"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="4.0">

    <xs:annotation>
        <xs:documentation>
            Beskrivning: Meddelandetyper som är gemensamma för lf.
            Revisioner: 2013-28-03, version 2.0
        </xs:documentation>
    </xs:annotation>

    <!-- doc.xsd missing in distribution. Only used once in an annotation. /Mattias Nordvall
    <xs:import namespace="urn:riv:se.apotekensservice:1" schemaLocation="../doc.xsd"/>
    -->

    <!-- Namespace other tillagd i 2.0 -->
    <xs:complexType name="SystemException">
        <xs:annotation>
            <xs:documentation>Systemfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Namespace other tillagd i 2.0 -->
    <xs:complexType name="ApplicationException">
        <xs:annotation>
            <xs:documentation>Applikationsfel</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Dokumentationsändring, namespace other tillagd i 2.0 -->
    <xs:complexType name="KlientinformationRequest">
        <xs:sequence>
            <xs:element name="anvandare" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Unikt användarid i anropande system.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="session" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Sessionens id i anropande system.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="system" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Systemnamn för anropande system. GLN-kod krävs för anrop från MVK och LTj.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Namespace other tillagd i 2.0 -->
    <xs:complexType name="ArtikelinformationResponse">
        <xs:sequence>
            <xs:element name="antalEnhet" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Antalets enhet. Exempelvis 'styck' eller 'milliliter'.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="antalIForpackning" type="xs:double" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Antal i förpackning. Numerisk angivelse, exempelvis '0,72'.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="antalYtterstaForpackning" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Antal multipel 2. Antal yttersta förpackningar för artikeln, exempelvis
                        '6'.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="antalYttreForpackning" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Antal multipel 1. Antal yttre förpackningar som varan har, exempelvis
                        '5'.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="atckod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ATC-kod vid inläsningstillfället.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="atckodKlartext" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Verksamt ämne vid inläsningstillfället.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forpackningsstorlek" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förpackningsstorlek vid inläsningstillfället, exempelvis '6x5x0,72
                        milliliter'. Ej angivet för dosdispenserade artiklar.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forpackningstyp" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Beskrivning av artikelns förpackningstyp vid inläsningstillfället.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="intressent" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Ansvarig intressent för artikeln. Värde kan hämtas från olika fält i VARA
                        beroende på artikel. Exempelvis parallellimportör.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lakemedelsform" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Läkemedelsform vid inläsningstillfället.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="lakemedelsformKod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Kod för läkemedelsform (beredningsformkod).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="nplPackid" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Identitet på förskrivet läkemedel som har NPL Pack-id alternativt SB
                        Pack-id.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="produktnamn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Läkemedelsnamn vid inläsningstillfället.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="styrka" type="xs:double" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Numerisk styrka, exempelvis '20.0'.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="styrkaEnhet" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Styrkans enhet, exempelvis 'mg'.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="styrkaKlartext" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Styrka i klartext vid inläsningstillfället.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Nytt element i 2.0 -->
    <xs:complexType name="OrdinationsmappningResponse">
        <xs:sequence>
            <xs:element name="originalOrdinationsId" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>OriginalordinationsId (erecreceptid).</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="prdRadNr" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>cblPrdRadNr i RR.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="radNr" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>cblRadNr i RR.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Dokumentationsändring, namespace other tillagd i 2.0 -->
    <xs:complexType name="ExpeditionRequest">
        <xs:sequence>
            <xs:element name="aktorsExpeditionsid" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Apoteksaktörs expeditions-id för spårbarhet.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="expedierandeApotek" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Unik GLN-kod för apotek som utfört expeditionen/borttaget.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="expeditionsdatum" type="xs:dateTime" nillable="false">
                <xs:annotation>
                    <xs:documentation>Datum och tidpunkt för inköpet/borttaget.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="expeditionsid" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Intern expeditions-id för spårbarhet.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="patient" type="PatientRequest" nillable="false">
                <xs:annotation>
                    <xs:documentation>Information om patient vars recept expeditionen berör.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="receptexpeditionsrader" type="ReceptexpeditionsradRequest" nillable="false" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Lista med receptexpeditionsrader.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Namespace other tillagd i 2.0 -->
    <xs:complexType name="ArtikelinformationRequest">
        <xs:sequence>
            <xs:element name="gtin" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Framtida identitet på utlämnad vara. Önskad uppgift när GTIN är
                        implementerat.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="nplPackid" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Identitet på förskrivet läkemedel som har NPL Pack-id alternativt SB
                        Pack-id.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Namespace other tillagd i 2.0 -->
    <xs:complexType name="PatientRequest">
        <xs:sequence>
            <xs:element name="fodelsedatum" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens födelsedatum. Antingen personnummer eller födelsedatum måste
                        anges.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="namn" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Patientnamn som nyttjas vid receptexpeditionen.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="personnummer" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Patientens personnummer.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Dokumentationsändring, namespace other tillagd i 2.0 -->
    <xs:complexType name="ReceptexpeditionsradRequest">
    <xs:annotation>
            <xs:documentation>Deprecated.</xs:documentation>
            <!-- Removed to be able to unlink missing "doc" schema. /Mattias Nordvall, Inera
            <xs:appinfo>
                <doc:deprecated>true</doc:deprecated>
            </xs:appinfo>
            -->
        </xs:annotation>
        <xs:sequence>
            <xs:element name="antalForpackningar" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Antal förpackningar av utlämnad vara. Obligatorisk parameter om posten ej
                        är en dosdispenserad artikel</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="antalPiller" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Summa antal avdelade doser. Obligatorisk parameter om posten är en
                        dosdispenserad artikel.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="arbetsplatskod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivarens arbetsplatskod</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="artikelinformation" type="ArtikelinformationRequest" nillable="false">
                <xs:annotation>
                    <xs:documentation>Information om expedierad artikel.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="dosdispenserad" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>Markering om expeditionsraden är dosdispenserad.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="doseringstext" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Doseringsanvisning: doseringstext1, doseringstext2 och ändamål</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivararbetsplatsnamn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivarens arbetsplatsnamn. Uppgiften tas från receptet</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivararbetsplatsort" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivarens arbetsplatsort. Uppgiften tas från receptet</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivarkod" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivarens förskrivarkod</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivarnamn" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Förskrivarens namn</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivarpostadress" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivarens postadress. Uppgiften tas från receptet</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="forskrivarpostnummer" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Förskrivarens postnummer. Uppgiften tas från receptet</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="radnummer" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Radnummer för expedierad vara i aktuell expedition.

                        Obligatorisk som indata dock ej som utdata.</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="utfardarkategori" type="xs:string" nillable="false">
                <xs:annotation>
                    <xs:documentation>Förskrivaren utfärdarkategori. Validering att utfärdarkategori är en av
                        LAK, ATL, LMF, TAN, BMO, SSK, TAH, HJM, DIT</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
