vp-services-camel/src/test/resources/testfiles/wsdl/clinicalprocess.healthcond.certificate.GetCertificate.2.rivtabp21/schemas/core_components/clinicalprocess_healthcond_certificate_types_3.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:riv:clinicalprocess:healthcond:certificate:types:3"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	targetNamespace="urn:riv:clinicalprocess:healthcond:certificate:types:3"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="3.2">

  	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema_0.1.xsd" />
  
	<xs:complexType name="IntygId">
		<xs:complexContent>
			<xs:restriction base="IIType">
				<xs:sequence>
					<xs:element name="root" type="xs:string" />
					<xs:element name="extension" type="xs:string" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TypAvIntyg">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string"/>
					<xs:element name="displayName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PersonId">
		<xs:complexContent>
			<xs:restriction base="IIType">
				<xs:sequence>
					<xs:element name="root" type="PersonIdRoot" />
					<xs:element name="extension" type="PersonIdExtension" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="PersonIdRoot">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.2.752.129.2.1.3.1" />
			<xs:enumeration value="1.2.752.129.2.1.3.3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonIdExtension">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{12}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="HsaId">
		<xs:complexContent>
			<xs:restriction base="IIType">
				<xs:sequence>
					<xs:element name="root" type="xs:string" fixed="1.2.752.129.2.1.4.1" />
					<xs:element name="extension" type="nonEmptyString" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Befattning">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string" fixed="1.2.752.129.2.2.1.4" />
					<xs:element name="displayName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Specialistkompetens">
		<xs:sequence>
			<xs:element name="code" type="xs:string" />
			<xs:element name="displayName" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Handelsekod">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string"
						fixed="dfd7bbad-dbe5-4a2f-ba25-f7b9b2cc6b14" />
					<xs:element name="displayName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ArbetsplatsKod">
		<xs:complexContent>
			<xs:restriction base="IIType">
				<xs:sequence>
					<xs:element name="root" type="xs:string" fixed="1.2.752.29.4.71" />
					<xs:element name="extension" type="nonEmptyString" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Statuskod">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string"
						fixed="9871cd17-8755-4ed9-b894-ff3729e775a4" />
					<xs:element name="displayName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Part">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string"
						fixed="769bb12b-bd9f-4203-a5cd-fd14f2eb3b80" />
					<xs:element name="displayName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TypAvRelation">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string"
						fixed="c2362fcd-eda0-4f9a-bd13-b3bbaf7f2146" />
					<xs:element name="displayName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Amneskod">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string"
						fixed="ffa59d8f-8d7e-46ae-ac9e-31804e8e8499" />
					<xs:element name="displayName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TimeStampMedMillisekunder">
		<xs:annotation>
			<xs:documentation>
				DateTime value is a string with the format
				&#34;YYYY-MM-DDThh:mm:ss&#34;
				that conforms to the constrained ISO 8601.
				Fraction of seconds and timezone precision is not required.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d.\d{3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation>
				DateTime avgränsat till YYYY-MM-DDThh:mm:ss
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d" />
		</xs:restriction>
	</xs:simpleType>

	<!-- YYYYMMDD -->
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation>
				Date avgränsat till YYYY-MM-DD
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="\d{4}-\d\d-\d\d" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="PartialDateType">
		<xs:sequence>
			<xs:element name="format" type="PartialDateTypeFormatEnum" />
			<xs:element name="value" type="PartialDateTypeValue" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PartialDateTypeFormatEnum">
		<xs:annotation>
			<xs:documentation>
				Value-delen av PartialDateType.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="YYYY-MM-DD" />
			<xs:enumeration value="YYYY-MM" />
			<xs:enumeration value="YYYY" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PartialDateTypeValue">
		<xs:annotation>
			<xs:documentation>
				PartialDate value is a string with the format
				&#34;YYYY[-MM[-DD]]&#34; that
				conforms to the constrained ISO 8601.
				In contrast to the date type, this type also allows for year-only and
				year-and-month values.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[1-2][0-9]{3,3}(-((0[1-9])|(1[0-2]))(-((0[1-9])|([1-2][0-9])|(3[0-1])))?)?" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Best practice datatyper -->
	<xs:complexType name="CVType">
		<xs:annotation>
			<xs:documentation />
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string" />
			<xs:element name="codeSystem" type="xs:string" />
			<xs:element name="codeSystemName" type="xs:string"
				minOccurs="0" />
			<xs:element name="codeSystemVersion" type="xs:string"
				minOccurs="0" />
			<xs:element name="displayName" type="xs:string" minOccurs="0" />
			<xs:element name="originalText" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IIType">
		<xs:sequence>
			<xs:element name="root" type="xs:string" />
			<xs:element name="extension" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PQType">
		<xs:sequence>
			<xs:element name="value" type="xs:double" />
			<xs:element name="unit" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PQIntervalType">
		<xs:sequence>
			<xs:element name="low" type="xs:double" minOccurs="0" />
			<xs:element name="high" type="xs:double" minOccurs="0" />
			<xs:element name="unit" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DatePeriodType">
		<xs:sequence>
			<xs:element name="start" type="DateType" minOccurs="0" />
			<xs:element name="end" type="DateType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePeriodType">
		<xs:sequence>
			<xs:element name="start" type="TimeStampType" minOccurs="0" />
			<xs:element name="end" type="TimeStampType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="KallaAdressuppgifterType">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string" fixed="4ade8de2-effe-41d0-b177-fedc820e69fa" />
					<xs:element name="displayName" type="xs:string" minOccurs="0" />
		  		</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LegitimeratYrkeType">
		<xs:complexContent>
			<xs:restriction base="CVType">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="codeSystem" type="xs:string" fixed="1.2.752.29.23.1.6" />
					<xs:element name="displayName" type="xs:string" minOccurs="0" />
		  		</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UnderskriftType">
	  <xs:sequence>
	    <xs:element ref="ds:Signature" />
	  </xs:sequence>
	</xs:complexType>

	<!-- Element tillagda för att kunna hantera användning av datatyperna i any-tag -->
	<xs:element name="timePeriod" type="TimePeriodType" />
	<xs:element name="datePeriod" type="DatePeriodType" />
	<xs:element name="pq" type="PQType" />
	<xs:element name="pqInterval" type="PQIntervalType" />
	<xs:element name="ii" type="IIType" />
	<xs:element name="cv" type="CVType" />
	<xs:element name="partialDate" type="PartialDateType" />
	<xs:element name="timestamp" type="TimeStampType" />
	<xs:element name="date" type="DateType" />

</xs:schema>
