vp-schemas/src/main/resources/schemas/VAGVAL_2_0_0/interactions/vagval/vagval-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2009 Sjukvardsradgivningen
 *
 *   This library is free software; you can redistribute it and/or modify
 *   it under the terms of version 2.1 of the GNU Lesser General Public

 *   License as published by the Free Software Foundation.
 *
 *   This library is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the

 *   GNU Lesser General Public License for more details.
 *
 *   You should have received a copy of the GNU Lesser General Public
 *   License along with this library; if not, write to the
 *   Free Software Foundation, Inc., 59 Temple Place, Suite 330,

 *   Boston, MA 02111-1307  USA
 -->
 
 <wsdl:definitions 
 	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
 	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
 	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
 	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
 	xmlns:tns="urn:skl:tp:vagval:v1" 
 	xmlns:ps="urn:skl:tp:vagval:v1" 
 	targetNamespace="urn:skl:tp:vagval:v1">
 	
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import schemaLocation="vagval-1.0.xsd" namespace="urn:skl:tp:vagval:v1"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="VisaVagvalRequest">
		<wsdl:part name="parameters" element="ps:visaVagvalRequest"/>
	</wsdl:message>
	<wsdl:message name="VisaVagvalResponse">
		<wsdl:part name="response" element="ps:visaVagvalResponse"/>
	</wsdl:message>
	<wsdl:message name="ResetVagvalCacheRequest">
		<wsdl:part name="parameters" element="ps:resetVagvalCacheRequest"/>
	</wsdl:message>
	<wsdl:message name="ResetVagvalCacheResponse">
		<wsdl:part name="response" element="ps:resetVagvalCacheResponse"/>
	</wsdl:message>
	<wsdl:portType name="VisaVagvalsInterface">
		<wsdl:operation name="visaVagval">
			<wsdl:input message="tns:VisaVagvalRequest"/>
			<wsdl:output message="tns:VisaVagvalResponse"/>
		</wsdl:operation>
		<wsdl:operation name="resetVagvalCache">
			<wsdl:input message="tns:ResetVagvalCacheRequest"/>
			<wsdl:output message="tns:ResetVagvalCacheResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="VisaVagvalBinding" type="tns:VisaVagvalsInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="visaVagval">
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="resetVagvalCache">
			<wsdl:input>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="VisaVagvalService">
		<wsdl:port name="VisaVagvalsInterface" binding="tns:VisaVagvalBinding">
			<soap:address location="http://tempuri.org"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>